@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --uc-accent-color: #4f46e5; /* Change primary button color */
  --uc-text-color: #333; /* Darker text for better visibility */
  --uc-bg-color: #fff; /* Light background */
  --uc-border-radius: 8px; /* Rounded corners */
  --uc-font-size: 14px; /* Smaller, more readable text */
  --uc-modal-width: 400px; /* Smaller popup width */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.upload-care-btn{
  width: 100%;
  margin: auto; 
  display: flex;
  justify-content: center;

}

/* .uc-visual-drop-area{
  padding: 4rem!important;
  width: 100%!important;
} */
