@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
:root {
  --uc-accent-color: #4f46e5; /* Change primary button color */
  --uc-text-color: #333; /* Darker text for better visibility */
  --uc-bg-color: #fff; /* Light background */
  --uc-border-radius: 8px; /* Rounded corners */
  --uc-font-size: 14px; /* Smaller, more readable text */
  --uc-modal-width: 400px; /* Smaller popup width */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
